@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Budget Manager</h3>
<p> Budget manager is one Web Aplication who will encrease saving yours many. </p>
<p> save your accounts as items in the form of a category and payment method. </p>
