           

       <div class="alert-success" style="margin-top:20px" >      
           <p style="font-size:larger">
               @ViewBag.Value  @ViewBag.Hrk
           </p> 
         
     </div>

